[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
selenium = "*"
schedule = "*"
simpleobsws = "*"
asyncio = "*"
pyslobs = "*"
requests = "*"
pytz = "*"
"discord.py" = "*"
datetime = "*"
discord = "*"
boto3 = "*"
aiocron = "*"

[dev-packages]

[requires]
python_version = "3.7"
