[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "==1.2.3"
schedule = "*"
asyncio = "*"
requests = "*"
pytz = "*"
"discord.py" = "*"
datetime = "*"
discord = "*"
boto3 = "*"
aiocron = "*"
typing-extensions = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
