aiocron==1.8
aiohappyeyeballs==2.4.3
aiohttp==3.11.8
aiosignal==1.3.1
attrs==24.2.0
audioop-lts==0.2.1
boto3==1.35.71
botocore==1.35.71
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
croniter==5.0.1
cryptography==44.0.0
discord==2.3.2
discord.py==2.4.0
docker==7.1.0
frozenlist==1.5.0
fuzzywuzzy==0.18.0
-e git+ssh://git@github.com/HS-Tools/HS-BG-Leaderboards-Bot.git@7108a408d550109bcb9f08d37eae4ecc2b2ae5a0#egg=hs_bg_leaderboards
idna==3.10
iniconfig==2.0.0
iso8601==2.1.0
Jinja2==3.1.4
jmespath==1.0.1
Levenshtein==0.26.1
MarkupSafe==3.0.2
moto==5.0.22
multidict==6.1.0
packaging==24.2
pluggy==1.5.0
propcache==0.2.0
py-cord==2.6.1
py-partiql-parser==0.5.6
pycparser==2.22
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-Levenshtein==0.26.1
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.10.1
requests==2.32.3
requests-futures==1.0.2
responses==0.25.3
s3transfer==0.10.4
six==1.16.0
twitchbot==0.1.0.dev61
twitchio==2.10.0
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.3
Werkzeug==3.1.3
xmltodict==0.14.2
yarl==1.18.0
