name: CloudFormation CI

on:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repository
      - uses: actions/checkout@v3

      # Step 2: Set up AWS Credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY }}
          aws-region: ${{ secrets.REGION }}

      # Step 3: Install Python 3.11
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # Step 4: Install AWS SAM CLI
      - name: Install AWS SAM CLI
        run: |
          pip install aws-sam-cli

      # Step 5: Build the SAM application
      - name: Build the Lambda application
        run: |
          sam build --template-file ./lambda-functions/template.yaml

      # Step 6: Package the CloudFormation template
      - name: Package the CloudFormation template
        run: |
          sam package \
            --template-file .aws-sam/build/template.yaml \
            --output-template-file packaged.yaml \
            --s3-bucket ${{ secrets.ARTIFACT_BUCKET }} \
            --s3-prefix hearthstone-leaderboard-stack

      # Step 7: Deploy the CloudFormation stack
      - name: Deploy the CloudFormation stack
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          TWITCH_LIVE_CHECK_CLIENT_ID: ${{ secrets.TWITCH_LIVE_CHECK_CLIENT_ID }}
          TWITCH_LIVE_CHECK_SECRET: ${{ secrets.TWITCH_LIVE_CHECK_SECRET }}
          ALERT_EMAIL: ${{ secrets.ALERT_EMAIL }}
        run: |
          sam deploy \
            --template-file packaged.yaml \
            --stack-name hearthstone-leaderboard-stack \
            --capabilities CAPABILITY_IAM \
            --region us-east-1 \
            --no-confirm-changeset \
            --disable-rollback \
            --no-fail-on-empty-changeset \
            --parameter-overrides \
              DBHost=${DB_HOST} \
              DBName=${DB_NAME} \
              DBUser=${DB_USER} \
              DBPassword=${DB_PASSWORD} \
              DBPort=${DB_PORT} \
              TwitchLiveCheckClientId=${TWITCH_LIVE_CHECK_CLIENT_ID} \
              TwitchLiveCheckSecret=${TWITCH_LIVE_CHECK_SECRET} \
              AlertEmail=${ALERT_EMAIL}
